/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
	--primary-color: #3b5bd6;
	--blu-icon: #3f51b5;
	--green-btn: #4caf50;
	--red-btn: #e53935;
	--green-btn-dark: #388e3c; /* darker green for hover */
}
